*{
    margin:0 ;
	padding:0px;
    
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 62.5%;
}
main,header,nav,section,article,aside,footer{
    /*	background:#FF5733;
        color:#FFFFFF;
        font-size:3em;
        width:95%;
        padding:2px;
        margin:3px 1px;*/
        display:block;
    /*	border:solid 1px #ccc;
        border-radius:25px;*/
    }

main{
    min-width: 320px;
    width: 100%;
    padding: 10rem;
    margin: 10rem;
}

header{
    
    border-radius: 2rem;
    height: 15rem;
    margin-top: 0.5rem;
    width: 90%;
    height: 20rem;
}

header h1{
    width: 65%;
    height: 10rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    text-align: left;
}

nav{
    height: auto;
    width: 90%;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}
nav li{
    list-style: none;
}
nav li a{
    padding: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem ;
    
}
section{
width: 90%;
padding: 1rem;
margin-top: 1rem;
overflow: hidden;
height: auto;
border-radius: 2rem;
}

/*.about{
    background-color: pink;
    border-radius: 10px;
    margin:10px;
    width: 85%;
    height: 100%;
    float: left;
}*/

article{
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    overflow: hidden;
    height: auto;
    border-radius: 2rem;
}
article p{
    margin: 1rem;
    padding: 1rem;
    font-size: 1.8rem;

}

article h2{
    font-size: 2rem;
}

aside{
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}
aside h3{
    font-size: 1.8rem;

}
aside p{
    font-size: 1.5rem;

}
aside a{
    font-size: 1.5rem;
    text-decoration: none;
    margin-bottom: 1.5rem;
}
/*.barra{
    
    
    background-color: blueviolet;
    border-radius:10px; 
 

    
    
    margin-right: 15px;
    margin-left: 1300px;
   
    width: 20%;
}*/
footer{
    width: 90%;
    height: 5rem;
    background-color: blueviolet;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 8px;
    color: white;
}